Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is stored and managed in a computer system. It provides a systematic way of organizing, storing, and retrieving data, making it easier to manage and access large amounts of data.

SQL (Structured Query Language) and NoSQL (Not Only SQL) are two different types of databases. SQL databases are relational databases that store data in a structured manner and use SQL for querying data. They have a well-defined schema and are suitable for applications that require complex queries and transactions. Examples of SQL databases include MySQL, Oracle, and PostgreSQL.

NoSQL databases, on the other hand, do not use a fixed schema and store data in a non-tabular manner. They are suitable for applications that require high scalability and flexibility. Examples of NoSQL databases include MongoDB, Cassandra, and Couchbase.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL (Data Definition Language) is a set of SQL commands used to define and manage the structure of a database. CREATE is used to create a new table, database, or other database objects. For example, the following command creates a new table named "employees":

CREATE TABLE employees (
id INT PRIMARY KEY,
name VARCHAR(50),
salary DECIMAL(10,2)
);

DROP is used to delete a database, table, or other database objects. For example, the following command drops the "employees" table:

DROP TABLE employees;

ALTER is used to modify the structure of a table, such as adding or deleting columns. For example, the following command adds a new column "age" to the "employees" table:

ALTER TABLE employees ADD age INT;

TRUNCATE is used to remove all data from a table. For example, the following command removes all data from the "employees" table:

TRUNCATE TABLE employees;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML (Data Manipulation Language) is a set of SQL commands used to manipulate data in a database. INSERT is used to insert new data into a table. For example, the following command inserts a new record into the "employees" table:

INSERT INTO employees (id, name, salary) VALUES (1, 'John Smith', 50000.00);

UPDATE is used to modify existing data in a table. For example, the following command updates the salary of the employee with ID 1:

UPDATE employees SET salary = 60000.00 WHERE id = 1;

DELETE is used to delete data from a table. For example, the following command deletes the employee with ID 1 from the "employees" table:

DELETE FROM employees WHERE id = 1;

Q4. What is DQL? Explain SELECT with an example.

DQL (Data Query Language) is a set of SQL commands used to retrieve data from a database. SELECT is used to retrieve data from one or more tables. For example, the following command retrieves all data from the "employees" table:

SELECT * FROM employees;

The "*" means all columns in the "employees" table will be retrieved. You can also select specific columns using their names:

SELECT name, salary FROM employees;

This command retrieves only the "name" and "salary" columns from the "employees" table.

Q5. Explain Primary Key and Foreign Key.

A primary key is a column or set of columns in a table that uniquely identifies each record in that table. It must be unique for each record and cannot contain NULL values. A primary key is used to establish relationships with other tables in the database, and is often used as a foreign key in other tables.

A foreign key is a column or set of columns in a table that references the primary key of another table. It establishes a relationship between the two tables, and ensures that data in the referencing table is consistent with the data in the referenced table. For example, in a "orders" table, the "customer_id" column might be a foreign key that references the "id" column in a "customers" table. This ensures that every order in the "orders" table is associated with a valid customer in the "customers" table.

Q6. Here's a Python code snippet to connect to MySQL using the mysql-connector-python module:

In [ ]:
import mysql.connector

# Connect to MySQL
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)

# Create cursor
mycursor = mydb.cursor()

# Execute query
mycursor.execute("SELECT * FROM yourtable")

# Fetch data
myresult = mycursor.fetchall()

# Print data
for x in myresult:
    print(x)

The cursor() method creates a cursor object, which is used to execute queries and fetch data from the database. The execute() method is used to execute a SQL query. It takes a SQL statement as a parameter and returns the result of the query.

Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses in an SQL query is as follows:

SELECT
FROM
JOIN
WHERE
GROUP BY
HAVING
ORDER BY
However, note that not all clauses are required in every query, and some clauses like GROUP BY and HAVING are optional. Also, some clauses can be combined, such as WHERE and JOIN. Additionally, the LIMIT clause can be added at the end to limit the number of results returned.