Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd
data=pd.Series([4,8,15,16,23])
data

0     4
1     8
2    15
3    16
4    23
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [3]:
l=[1,23,4,5,7,2,63,45,8,12]
data=pd.Series(l)
data

0     1
1    23
2     4
3     5
4     7
5     2
6    63
7    45
8     8
9    12
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

In [4]:
d={'Name':['Alice','Bob','Claire'],'Age':[25,30,27],'Gender':['Female','Male','Female']}
data=pd.DataFrame(d)
data

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Ans. In Pandas, a DataFrame is a two-dimensional labeled data structure that resembles a table or spreadsheet. It consists of rows and columns, where each column can contain different data types (e.g., numbers, strings, dates) and is labeled with a unique column name. DataFrames are a fundamental data structure in Pandas and provide powerful capabilities for data manipulation, analysis, and cleaning.

Series is a one-dimensional labeled array in Pandas. It can be thought of as a single column of a DataFrame. A Series can hold any data type and is also labeled with an index. Series are commonly used to represent a single feature or variable in a dataset.

In [5]:
import pandas as pd

# Creating a DataFrame
data = {'Name': ['John', 'Alice', 'Bob'],
        'Age': [25, 30, 35],
        'City': ['New York', 'London', 'Paris']}
df = pd.DataFrame(data)

# Creating a Series
ages = pd.Series([25, 30, 35], name='Age')

print("DataFrame:")
print(df)
print("\nSeries:")
print(ages)

DataFrame:
    Name  Age      City
0   John   25  New York
1  Alice   30    London
2    Bob   35     Paris

Series:
0    25
1    30
2    35
Name: Age, dtype: int64

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Ans. Pandas provides a wide range of functions to manipulate and transform data in a DataFrame.

1. head(): Returns the first n rows of the DataFrame. It is useful to quickly inspect the data and get a glimpse of the structure.

2. tail(): Returns the last n rows of the DataFrame. It is useful to quickly check the end of the data.

3. shape: Returns the dimensions (rows, columns) of the DataFrame.

4. info(): Provides a concise summary of the DataFrame, including the data types, non-null values, and memory usage. It helps in understanding the structure of the data.

5. describe(): Generates descriptive statistics of the DataFrame, such as count, mean, standard deviation, minimum, maximum, and quartile values for numerical columns.

In [10]:
data = {'Name': ['John', 'Alice', 'Bob'],
        'Age': [25, 30, 35],
        'City': ['New York', 'London', 'Paris']}
df = pd.DataFrame(data)
print(df)
print(df.tail())
print(df.head())
print(df.describe())

    Name  Age      City
0   John   25  New York
1  Alice   30    London
2    Bob   35     Paris
    Name  Age      City
0   John   25  New York
1  Alice   30    London
2    Bob   35     Paris
    Name  Age      City
0   John   25  New York
1  Alice   30    London
2    Bob   35     Paris
        Age
count   3.0
mean   30.0
std     5.0
min    25.0
25%    27.5
50%    30.0
75%    32.5
max    35.0

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Ans. Series: Series objects in Pandas are mutable, meaning their values can be modified after creation. You can change the values, add or remove elements, or perform other operations that modify the underlying data within a Series.

DataFrame: Similarly, DataFrame objects in Pandas are mutable. You can modify the values of individual cells, add or remove columns, and perform various data manipulation operations like sorting, filtering, or merging.

Panel: However, the Panel data structure in Pandas is not mutable. Panels have been deprecated in recent versions of Pandas (since version 0.20.0) and are no longer recommended for use. It is suggested to use alternative data structures like multi-index DataFrames to handle multi-dimensional data.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [17]:
import pandas as pd
names = pd.Series(['John', 'Alice', 'Bob'])
ages = pd.Series([25, 30, 35])
cities = pd.Series(['New York', 'London', 'Paris'])
data=pd.DataFrame({'Names' : names,'Ages' : ages,'City' : cities})
data

   Names  Ages      City
0   John    25  New York
1  Alice    30    London
2    Bob    35     Paris