Q1. List any five functions of the pandas library with execution.

1. read_csv: This function is used to read a CSV (Comma-Separated Values) file and create a DataFrame.

2. head: This function returns the first n rows of a DataFrame.

3. info: This function provides a summary of a DataFrame, including the number of non-null values and data types of each column.
4. describe: This function generates descriptive statistics of a DataFrame, such as count, mean, standard deviation, etc.
5. groupby: This function is used to group a DataFrame by one or more columns and perform operations on the grouped data.

In [14]:
import pandas as pd
d={'Name':['Alice','Bob','Claire'],'Age':[17,41,27],'Gender':['Female','Male','Female'],'Marks':[70,70,24],'Marks1':[45,70,24]}
data=pd.DataFrame(d)
print(data)
print(data.describe())
print(data.info())
print(data.head())
s=data.groupby('Marks')
print(s.mean())

     Name  Age  Gender  Marks  Marks1
0   Alice   17  Female     70      45
1     Bob   41    Male     70      70
2  Claire   27  Female     24      24
             Age      Marks     Marks1
count   3.000000   3.000000   3.000000
mean   28.333333  54.666667  46.333333
std    12.055428  26.558112  23.028967
min    17.000000  24.000000  24.000000
25%    22.000000  47.000000  34.500000
50%    27.000000  70.000000  45.000000
75%    34.000000  70.000000  57.500000
max    41.000000  70.000000  70.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Gender  3 non-null      object
 3   Marks   3 non-null      int64
 4   Marks1  3 non-null      int64
dtypes: int64(3), object(2)
memory usage: 248.0+ bytes
None
     Name  Age  Gender  Marks  Marks1
0   Alice   17  Female     70      45
1     Bob   41    Male     70      70
2  Claire   27  Female     24      24
        Age  Marks1
Marks
24     27.0    24.0
70     29.0    57.5

/tmp/ipykernel_77/1509396505.py:9: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print(s.mean())

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [19]:
df=pd.DataFrame({'A':[1,2,3],'B':[4,5,6],'C':[7,8,9]})
def re_ind(df):
    new_ind=pd.Index(range(1,len(df)*2,2))
    df.set_index(new_ind,inplace=True)
    return df
df=re_ind(df)
print(df)

   A  B  C
1  1  4  7
3  2  5  8
5  3  6  9

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.

In [23]:
df=pd.DataFrame({'Values':[10,20,30,40]})
def ite(df):
    val=df['Values']
    val=val[0:3]
    s=sum(val)
    print('The sum of first three is:',s)
print(df)
ite(df)

   Values
0      10
1      20
2      30
3      40
The sum of first three is: 60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [32]:
df=pd.DataFrame({'Text':['Arpit is a good boy','Jadon','Noida']})
def count(df):
    s=df['Word_Count']=df['Text'].str.split().apply(len)
    print(s)
count(df)
print(df)

0    5
1    1
2    1
Name: Text, dtype: int64
                  Text  Word_Count
0  Arpit is a good boy           5
1                Jadon           1
2                Noida           1

Q5. How are DataFrame.size() and DataFrame.shape() different?

DataFrame.size() returns the total number of elements in the DataFrame, which is equal to the product of the number of rows and columns.

DataFrame.shape() returns a tuple representing the dimensions of the DataFrame in the form (number of rows, number of columns).

Q6. Which function of pandas do we use to read an excel file?

Ans pd.read_csv()

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [39]:
import pandas as pd
def new(df):
    df['Username']=df['Email'].str.split('@').str[0]
    return df
df = pd.DataFrame({'Email': ['john.doe@example.com', 'jane.smith@example.com']})
df = new(df)
print(df)

                    Email    Username
0    john.doe@example.com    john.doe
1  jane.smith@example.com  jane.smith

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.

In [49]:
df=pd.DataFrame({'A':[3,8,6,2,9],'B':[5,2,9,3,1],'C':[1,7,4,5,2]})
def clear(df):
    row=df[(df['A']>5) & (df['B']<10)]
    print(row)
clear(df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [52]:
df=pd.DataFrame({'Values':[10,20,30,40]})
def agg(df):
    return df.describe()
agg(df)

          Values
count   4.000000
mean   25.000000
std    12.909944
min    10.000000
25%    17.500000
50%    25.000000
75%    32.500000
max    40.000000

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [5]:
import pandas as pd
df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05',
                            '2023-01-06', '2023-01-07', '2023-01-08', '2023-01-09', '2023-01-10'],
                   'Sales': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]})
def avg(df):
    df['MovingAverage']=df['Sales'].rolling(window=7,min_periods=1).mean()
    return df
avg(df)

         Date  Sales  MovingAverage
0  2023-01-01     10           10.0
1  2023-01-02     20           15.0
2  2023-01-03     30           20.0
3  2023-01-04     40           25.0
4  2023-01-05     50           30.0
5  2023-01-06     60           35.0
6  2023-01-07     70           40.0
7  2023-01-08     80           50.0
8  2023-01-09     90           60.0
9  2023-01-10    100           70.0

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.

In [10]:
import pandas as pd

def add_weekday_column(df):
    df['Weekday'] = pd.to_datetime(df['Date']).dt.strftime('%A')
    return df

# Usage
df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']})

df = add_weekday_column(df)
print(df)

         Date    Weekday
0  2023-01-01     Sunday
1  2023-01-02     Monday
2  2023-01-03    Tuesday
3  2023-01-04  Wednesday
4  2023-01-05   Thursday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [9]:
df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-15', '2023-01-31', '2023-02-10'],
                   'Value': [10, 20, 30, 40]})
df['Date'] = pd.to_datetime(df['Date'])
def date(df):
    start_date = pd.to_datetime('2023-01-01')
    end_date = pd.to_datetime('2023-01-31')
    selected_rows = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]
    return selected_rows
date(df)

        Date  Value
0 2023-01-01     10
1 2023-01-15     20
2 2023-01-31     30

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

In [1]:
import pandas as pd

In this import statement, pd is an alias or shorthand that is commonly used to refer to the pandas library throughout the code. It allows you to access the pandas functions and classes using the pd prefix.